body {
    padding: 0;
    margin: 0;
    font-family: Ubuntu, sans-serif;
    height: 100%;
    padding: 10;
    margin: 0;
    color: #1b3146;
  }

header {
    background: #333;
    color:#1b3146;
}  
  
h1 {
    padding: 26px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #1b3146;
    text-align: left;
  }
  
h2 {
font-size: 22px;
color:#1b3146;
text-align: left;
}
  
h3 {
  font-size: 22px;
  color: #1b3146;
  text-align: left;
  }
  
/* Selecting elements by class */
.container {
    width: 1024px;
    margin: 0 auto;
  }


/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
.dropdown-content a {
  color: #1b3146;
  padding: 5px 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


.column-main {
  height: 600;
  -ms-flex: 6%; /* IE 10 */
  flex: 75%;
  padding: 0 30px;
  background: aliceblue;
  font-size: 16px;
  color:#1b3146;
  text-align: left;
}

#main-pic {
  max-width: 70%;
  max-height: 70%;
  padding: 20px;
  float: left;
}

#vis-pic {
margin-top: 8px;
vertical-align: middle;
max-width: 80%;
max-height: 80%;
float: center;
}


.column img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 75%;
  max-height: 75%;
  float: center;
}

.column1 {
  height: 600;
  -ms-flex: 37%; /* IE 10 */
  flex: 37%;
  padding: 0 0px;
  background:aliceblue;
}

.column1 img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  float: center;
}

.column2 {
  height: 600;
  -ms-flex: 10%; /* IE 10 */
  flex: 10%;
  padding: 0 10px;
}

.column2 img {
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  float: center;
}

.box1 {
  height: 600px;
  padding: 8px;
  color: RGB(102, 51, 153);
  background: #FFFFFF;
  float: left;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 800px) {
  .dropdown li {
    padding: 10px;
  }

  .post {
    margin-right: 30px;
    margin-left: 30px;
  }

  .dropdown ul {
    visibility: hidden;
  }

  #nav-select {
    visibility: visible;
  }

  h1 {
    padding: 22px 0;
    margin: 0;
    margin-bottom: 15px;
    font-size: 24px;
    color: #1b3146;
    text-align: left;
  }

  h2 {
  font-size: 20px;
  color:#1b3146;
  text-align: left;
  }
    
  h3 {
    font-size: 20px;
    color:#1b3146;
    text-align: right;
  }
}

table {
  display: inline-block;
  width: 100%;
  max-height:800px;
}


tbody{
  display: block;
  overflow-y: scroll;
  max-height:600px;
  width: 100%;
  overflow: auto;
}

thead th, tbody td {
  width: 200px;
}

table{
  padding: 26px 0;
  margin-top:50px; 
  margin-left:10px; 
}